html,
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

header {
  margin: 0;
  padding: 0;
  color: SaddleBrown;
  text-align: center;
  background: url('https://i.ibb.co/VJrvgN4/beachshow.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

header h1 {
  margin: 0;
  padding-top: 250px;
}

header a {
  color: saddlebrown;
  text-decoration: none;
  padding: 10px 15px;
  border: 1px saddlebrown solid;
  border-radius: 10px;
  font-weight: bold;
}

header p {
  margin: 0;
  padding: 10px 0 25px;
}

.dark {
  background-color: saddlebrown;
  color: white;
  text-align: center;
  margin: 0;
}

article p {
  margin: 0;
  padding: 10px;
}

.light {
  color: saddlebrown;
}

.small {
  width: calc(100% / 3);
  float: right;
}

/* custom scroll bar */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: lightgrey;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: saddlebrown;
}
